/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 20px;
    padding-left: 40px;
    font-family: 'Encode Sans Expanded', sans-serif;
    background-color: #f2f2f2;
}